In [2]:
# Import first dataset 

import pandas as pd
temperaturedata = pd.read_csv("GlobalLandTemperaturesByCountry.csv")
temperaturedata

# Change the dt column to year
temperaturedata = temperaturedata.rename(columns={"dt": "Year"})
temperaturedata

# Edit the Year column and combine 
temperaturedata['Year'] = temperaturedata['Year'].str.split('-').str[0]

# Convert the "Year" column to integers
temperaturedata['Year'] = temperaturedata['Year'].astype(int)

# Find any missing values
missing_values = temperaturedata.isna()
missing_values 

# Drop missing values
temperaturedata = temperaturedata.dropna()
temperaturedata 

# Filter only the years from 2000 to 2013 
filtered_temperaturedata = temperaturedata[(temperaturedata['Year'] >= 2000) & (temperaturedata['Year'] <= 2013)]
filtered_temperaturedata.head(60)

# Search specific country
specific_countries = filtered_temperaturedata[filtered_temperaturedata['Country'] == 'Afghanistan']
specific_countries

      Year  AverageTemperature  AverageTemperatureUncertainty      Country
5180  2000               2.404                          0.496  Afghanistan
5181  2000               3.155                          0.529  Afghanistan
5182  2000               8.971                          0.333  Afghanistan
5183  2000              18.440                          0.522  Afghanistan
5184  2000              24.140                          0.435  Afghanistan
...    ...                 ...                            ...          ...
5339  2013              14.845                          0.398  Afghanistan
5340  2013              21.355                          0.428  Afghanistan
5341  2013              26.879                          0.430  Afghanistan
5342  2013              28.205                          0.303  Afghanistan
5343  2013              26.031                          0.347  Afghanistan

[164 rows x 4 columns]

In [38]:
# Import second dataset

import pandas as pd
productiondata = pd.read_csv("modern-renewable-prod.csv")
productiondata

# Rename the Entity column to "Country"
productiondata = productiondata.rename(columns={"Entity": "Country"})

# Drop the Code column 
productiondata.drop('Code', axis=1, inplace=True)
productiondata

# Filter only the years from 2000 to 2013
filtered_productiondata = productiondata[(productiondata['Year'] >= 2000) & (productiondata['Year'] <= 2013)]
filtered_productiondata.head(30)

# Find any missing values
missing_values = filtered_productiondata.isna()
missing_values

# Drop the missing values 
cleaned_productiondata = filtered_productiondata.dropna()
cleaned_productiondata.head(30)

,Country,Year,Electricity from wind (TWh),Electricity from hydro (TWh),Electricity from solar (TWh),Electricity from other renewables including bioenergy (TWh)
0,Afghanistan,2000,0.00,0.31,0.00,0.00
1,Afghanistan,2001,0.00,0.50,0.00,0.00
2,Afghanistan,2002,0.00,0.56,0.00,0.00
3,Afghanistan,2003,0.00,0.63,0.00,0.00
4,Afghanistan,2004,0.00,0.56,0.00,0.00
5,Afghanistan,2005,0.00,0.59,0.00,0.00
6,Afghanistan,2006,0.00,0.64,0.00,0.00
7,Afghanistan,2007,0.00,0.75,0.00,0.00
8,Afghanistan,2008,0.00,0.54,0.00,0.00
9,Afghanistan,2009,0.00,0.78,0.00,0.00
10,Afghanistan,2010,0.00,0.75,0.00,0.00
11,Afghanistan,2011,0.00,0.60,0.00,0.00
12,Afghanistan,2012,0.00,0.71,0.03,0.00
13,Afghanistan,2013,0.00,0.86,0.03,0.00
21,Africa,2000,0.23,74.51,0.00,2.58
22,Africa,2001,0.46,81.21,0.00,2.62
23,Africa,2002,0.43,83.40,0.02,2.52
24,Africa,2003,0.61,81.69,0.02,2.79
25,Africa,2004,0.78,86.54,0.02,3.26
26,Africa,2005,0.83,88.72,0.02,3.62
27,Africa,2006,0.87,91.92,0.03,3.64
28,Africa,2007,1.18,93.99,0.04,3.53
29,Africa,2008,1.29,95.63,0.05,3.90
30,Africa,2009,1.70,98.68,0.07,4.18
31,Africa,2010,2.37,109.50,0.41,4.61
32,Africa,2011,2.43,110.57,0.50,4.80
33,Africa,2012,2.37,111.66,0.65,5.09
34,Africa,2013,3.55,116.88,0.74,5.72
52,Albania,2000,0.00,4.59,0.00,0.00
53,Albania,2001,0.00,3.56,0.00,0.00

In [39]:
# Import third dataset

import pandas as pd
consumptiondata = pd.read_csv("World Energy Consumption.csv")
consumptiondata

# Unique columns in the dataset
unique_columns_list = list(consumptiondata.columns)
unique_columns_list

# Select the columns of interest
consumptiondata = consumptiondata[['country', 'year', 'fossil_fuel_consumption', 'wind_consumption', 'hydro_consumption', 'solar_consumption', 'biofuel_consumption']]
consumptiondata

# Filter only the years from 2000 to 2013
filtered_consumptiondata = consumptiondata[(consumptiondata['year'] >= 2000) & (consumptiondata['year'] <= 2013)]
filtered_consumptiondata.head(30)

# Find any missing vlaues
missing_values = filtered_consumptiondata.isna()
missing_values

# Drop na columns
cleaned_consumptiondata = filtered_consumptiondata.dropna()
cleaned_consumptiondata

# Rename the columns
cleaned_consumptiondata = cleaned_consumptiondata.rename(columns={"country": "Country", "year": "Year"})
cleaned_consumptiondata.head(30)

,Country,Year,fossil_fuel_consumption,wind_consumption,hydro_consumption,solar_consumption,biofuel_consumption
220,Africa,2000,2940.741,0.489,209.016,0.037,0.000
221,Africa,2001,3057.225,1.148,223.164,0.045,0.000
222,Africa,2002,3080.476,1.219,233.562,0.053,0.000
223,Africa,2003,3244.701,1.474,225.775,0.063,0.000
224,Africa,2004,3482.064,2.082,236.607,0.074,0.000
225,Africa,2005,3510.717,2.105,239.576,0.087,0.000
226,Africa,2006,3572.478,2.279,246.555,0.109,0.000
227,Africa,2007,3700.708,2.699,253.249,0.142,0.000
228,Africa,2008,3946.458,3.464,256.471,0.198,0.008
229,Africa,2009,4015.733,4.171,261.719,0.258,0.031
230,Africa,2010,4133.237,5.956,280.101,0.558,0.039
231,Africa,2011,4142.954,6.576,286.214,1.173,0.055
232,Africa,2012,4298.266,7.629,285.786,1.420,0.039
233,Africa,2013,4400.578,9.114,301.271,2.111,0.055
460,Algeria,2000,299.786,0.000,0.150,0.000,0.000
461,Algeria,2001,310.611,0.000,0.190,0.000,0.000
462,Algeria,2002,321.784,0.000,0.156,0.000,0.000
463,Algeria,2003,336.154,0.000,0.722,0.000,0.000
464,Algeria,2004,349.055,0.000,0.679,0.000,0.000
465,Algeria,2005,364.682,0.000,1.494,0.000,0.000
466,Algeria,2006,378.601,0.000,0.582,0.000,0.000
467,Algeria,2007,399.001,0.000,0.600,0.000,0.000
468,Algeria,2008,422.762,0.000,0.747,0.000,0.000
469,Algeria,2009,447.905,0.000,0.897,0.000,0.000
470,Algeria,2010,436.927,0.000,0.451,0.024,0.000
471,Algeria,2011,463.396,0.000,0.980,0.047,0.000
472,Algeria,2012,506.532,0.000,1.002,0.069,0.000
473,Algeria,2013,536.629,0.000,0.253,0.073,0.000
780,Argentina,2000,572.457,0.097,94.539,0.000,0.000
781,Argentina,2001,541.622,0.136,115.642,0.000,0.000

In [40]:
# Import fourth dataset

import pandas as pd
gasdata = pd.read_csv("co2-ghg.csv")
gasdata

# Unique columns in the dataset
unique_columns_list = list(gasdata.columns)
unique_columns_list

# Select the columns of interest
gasdata = gasdata[['country', 'year', 'co2', 'coal_co2', 'total_ghg', 'methane', 'nitrous_oxide', 'population']]
gasdata

# Filter only the years from 2000 to 2013
filtered_gasdata = gasdata[(gasdata['year'] >= 2000) & (gasdata['year'] <= 2013)]
filtered_gasdata.head(30)

# Find any missing vlaues
missing_values = filtered_gasdata.isna()
missing_values

# Drop na columns
cleaned_gasdata = filtered_gasdata.dropna()

# Rename columns
cleaned_gasdata = cleaned_gasdata.rename(columns={"country": "Country", "year": "Year","population": "Population"})
cleaned_gasdata.head(30)

cleaned_gasdata.tail(30)

,Country,Year,co2,coal_co2,total_ghg,methane,nitrous_oxide,Population
51,Afghanistan,2000,0.758,0.004,15.05,10.59,3.62,20779957.0
52,Afghanistan,2001,0.798,0.070,13.47,9.36,3.22,21606992.0
53,Afghanistan,2002,1.052,0.055,16.10,11.21,3.72,22600774.0
54,Afghanistan,2003,1.186,0.092,16.78,11.56,3.92,23680871.0
55,Afghanistan,2004,0.889,0.092,16.35,11.47,3.82,24726689.0
56,Afghanistan,2005,1.303,0.106,17.09,11.68,3.97,25654274.0
57,Afghanistan,2006,1.635,0.161,20.74,14.89,4.06,26433058.0
58,Afghanistan,2007,2.269,0.749,24.78,18.10,4.25,27100542.0
59,Afghanistan,2008,4.200,1.077,31.39,22.19,4.81,27722281.0
60,Afghanistan,2009,6.740,1.513,37.72,25.43,5.32,28394806.0
61,Afghanistan,2010,8.398,2.246,44.75,30.04,6.03,29185511.0
62,Afghanistan,2011,12.106,4.181,58.62,39.48,6.61,30117411.0
63,Afghanistan,2012,10.219,3.125,67.05,48.78,7.16,31161378.0
64,Afghanistan,2013,8.441,3.327,76.29,58.13,7.72,32269592.0
276,Albania,2000,3.004,0.070,8.40,3.79,1.21,3129246.0
277,Albania,2001,3.221,0.081,9.03,3.70,1.15,3129701.0
278,Albania,2002,3.748,0.084,9.72,3.64,1.29,3126183.0
279,Albania,2003,4.232,0.084,10.09,3.68,1.31,3118017.0
280,Albania,2004,4.104,0.084,10.15,3.59,1.27,3104893.0
281,Albania,2005,4.199,0.073,9.92,3.58,1.28,3086810.0
282,Albania,2006,3.844,0.073,8.75,3.53,1.22,3063021.0
283,Albania,2007,3.829,0.073,9.06,3.52,1.28,3033993.0
284,Albania,2008,4.272,0.103,8.53,3.23,1.14,3002683.0
285,Albania,2009,4.254,0.388,8.64,3.12,1.14,2973044.0
286,Albania,2010,4.448,0.429,8.85,3.12,1.13,2948029.0
287,Albania,2011,5.031,0.535,9.29,3.15,1.18,2928601.0
288,Albania,2012,4.668,0.627,8.95,3.23,1.22,2914091.0
289,Albania,2013,4.928,0.795,9.01,3.19,1.16,2903788.0
381,Algeria,2000,82.221,1.960,127.65,40.16,7.56,31042238.0
382,Algeria,2001,83.780,2.096,125.23,41.65,7.57,31451513.0

In [42]:
# Merge the datasets based on "Year" and "Country" columns
merged_data = pd.merge(filtered_temperaturedata, cleaned_productiondata, on=["Year", "Country"], how="inner")
merged_data = pd.merge(merged_data, cleaned_gasdata, on=["Year", "Country"], how="inner")
merged_data = pd.merge(merged_data, cleaned_consumptiondata, on=["Year", "Country"], how="inner")

merged_data

# Convert the merged data to a csv
# merged_data.to_csv("merged_data.csv", index=False)